<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- <form id="inputForm" style="text-align: center;">
    <input type="file" name="file">
        <div>
          <button type="button" class="btn btn-info" onclick="getResult()" value="submit"
            style="cursor: pointer;">Submit</button>
        </div>
  </form> -->
  <form id="inputForm" style="text-align: center;">
    <input type="text" id="textInput" name="textInput" />
    <button type="button" class="btn btn-info" onclick="getResult()" value="submit" style="cursor: pointer;">Submit</button>
  </form>

  <div class="row" id="result">
    
  </div>

<script>
  function getResult() {
    // var form_data = new FormData($('#inputForm')[0]);
    var textInput = $('#textInput').val();
    console.log(textInput);
    $.ajax({
        type: 'POST',
        url: '/predict',
        // data: form_data,
        data: JSON.stringify({ textInput: textInput }),
        // contentType: false,
        contentType:'application/json',
        cache: false,
        processData: false,
        success: function(data) {
            $("#result").html(data);       
        },
    });
}
</script>





<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <form id="inputForm" style="text-align: center;">
    <input type="file" name="file">
        <div>
          <button type="button" class="btn btn-info" onclick="getResult()" value="submit"
            style="cursor: pointer;">Submit</button>
        </div>
  </form>

  <div class="row" id="result">
    
  </div>

<script>
  function getResult() {
    var form_data = new FormData($('#inputForm')[0]);
    $.ajax({
        type: 'POST',
        url: '/predict',
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,
        success: function(data) {
            $("#result").html(data);       
        },
    });
}
</script> -->